.window-menu {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 62px);
}

.window-menu .container {
	position: relative;
	z-index: 1;
	background-color: white;
	width: 1205px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 0 5px 5px  #565656;
}

.popular-movies-main-title {
	font-size: 20px;
	margin: 20px 0 20px 20px;
	color: #651087;
}

.popular-movies-element {
	position: relative;
}

.popular-muvie-poster {
	height: 350px;
}

.gallery-item:hover .popular-muvie {
	opacity: 1;
	transition: .3s;
}

.gallery-item {
	position: relative;
	width: 233.328px;
	height: 350px;
	color: white;
}

.popular-muvie,
.answer-muvie {
	position: absolute;
	background-color: rgba(0, 0, 0,0.5);
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	opacity: 0;
}

.popular-muvie-text {
	text-align: center;
	color: #f2f2f2;
}

.popular-muvie-title {
	color: white;
	text-align: center;
	padding: 30px 0 15px 0;
}

.owl-prev,
.owl-next {
	display: none;
}


.answer-muvie-poster {
	height: 195px;
}

.carousel {
	position: relative;
	width: calc(100vw - 63px);
	height: 195px;
	overflow: auto;
}

.gallery-item-answer {
	float: left;
	position: relative;
	color: white;
}

.gallery-item-answer:hover .answer-muvie {
	opacity: 1;
	transition: .3s;
}

.answer-muvie-title {
	color: white;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
}

.answer-muvie-text,
.answer-muvie-text-second {
	color: white;
	padding: 8px 0;
	text-align: center;
	font-size: 15px;
}

.eror-title {
	position: absolute;
	top: 20px;
	left: 200px;
	font-size: 30px;
}

.star {
	width: 16px !important;
	float: left;
}

.star:nth-child(2) {
	margin-left: 15%;
}

.stars p {
	margin-left: 10%;
	color: white;
}

.stars {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.info-muvie-text-second .stars{
	position: relative;
	left: -160px;
	top: 120px;
}

.info-muvie-text-second .stars .star {
	width: 30px;
}

.raiting-number {
	position: absolute;
	top: 72%;
	left: 50%;
	transform: translate(-50%,-72%);
	font-size: 50px;
}

.popular-movies.-invisible {
		display: none;
}

.movies-info-poster {
	height: 600px;
	padding: 25px;
	border-radius: 20px;
	float: left;
}

.movies-info-title {
	color: black;
	font-size: 30px;
	padding: 25px 20px ;
}

.movies-info-release-date {
	font-weight: 600;
}